/* p{
    color: green!important;
} */

/* #id1{
    color: blue;
}
.c1{ */
    /* color: blueviolet; */
    /* color: rgba(32, 92, 211, 0.8); */
    /* color:#000
} */

/* p{
    color:red;
    text-align: justify;
} */
/* left right center justify */
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.main-color{
    color:blue
}
.secondry-color{
    color: orangered;
}
p{
    background-color: blue;
    width: fit-content;
    /* max-width: 30%;
    min-width: 10%; */
    /* padding: 20px 50px 5px ; */
    padding-left: 5px;
}

div{
    background-color: red;
    height: 160px;
    width:30%;
}

