/* .main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;column-reverse; 
}
.sub{
    background-color: black;
    color:white;
    /* height: 10rem; 
    margin: 2%;
    padding: 2%;
    width: 33%;
} */


/* nav{
    display:flex;
    justify-content: space-around; 
    /* center flex-end flex-start space-between space-evenly left right start end
 }
nav a{
   padding: 0 3% ; 
} */


/* a{ color:black; text-decoration: none;}
.d-flex{ display: flex;}
.justify-around{ justify-content: space-around;}
.col-half{width: 40%; }
.col-q{width:30%; }
div{height: 25px;}
nav{padding: 0.5% 0;} */

/* section{ */
    /* height: 10rem; */
    /* display: flex;
    align-items: center;
}
div{
    border: 2px solid black;
    margin: 2%;
    background-color: red;
}

#two{
    background-color: blue;
    flex-basis:20%;
    order:0
}

#one{
    flex-grow: 5;
} */

*{ margin: 0;padding: 0; box-sizing: border-box;}
.container{
    width:90%;
    margin: 3% auto;
}
.d-flex{ display: flex; flex-wrap: wrap;}
.justify-between{ 
    justify-content: space-between;
}
.card{
    flex-basis: 21%;
    margin-top: 2%;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card .addcart{
    width:100%;
    text-align: center;
    background-color: black;
    color:white;
    padding: 2% 0;
    border: none;
}
.card img{
    width:70%;
    margin: 0 auto;
}
.card-img{
    text-align: center;
    padding: 5% 2%;
}
.del{
    position: absolute;
    z-index: 999;
    top: 3%;
    right: 3%;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 0.5px solid black;
}