/* body{
    margin: 0;
    padding: 0; */
    /* background-color: blue; */
    /* font-family: "Beiruti", system-ui; */

    /* width:90%; */
    /* margin: 0 10%; */
    /* padding: 10%; */
/* } */
/* div{ */
    /* background-color: white; */
    /* height: 15rem; */
    /* margin: 5%; */
    /* text-transform:capitalize;  */
    /* uppercase capitalize lowercase none */
    /* text-indent: 10px; */
    /* letter-spacing: 10px; */
    /* line-height: 1.5;
    white-space: wrap; */
    /* word-spacing: 15px; */
    /* text-decoration: underline dashed brown; */
    /* text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: red; */
    /* text-shadow: 5px 5px green; */
    /* text-shadow: 0px 0px 1px red; */
    /* font-size:15px;
    font-style: italic;
    font-weight: 900; */
    /* bold bolder  */
    /* font-variant: small-caps; */
    /* width: 50%;
    height: 15rem;
    background-color: black;
    background-image: url(../images/mind.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom left; */
/* } */
/* .s{ line-height: 1;}
.m{ line-height: 2;}
.l{ line-height: 3;} */

*{ margin: 0; padding: 0; font-family: "Beiruti";}

body{ height: 3000px;}
/* div{ 
    height: 300px; background-color: red;
    display: inline-block;
} */
/* #one{background-color: black;} */

/* #two{ */
    /* background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
    /* width:50%; */
    /* margin:auto; */
    /* border:5px solid black */
/* } */

/* div{
    height: 150px;
    width:50%;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}
section{
    display: flex;
}
#one{
    background: red;
}
#two{
    background: black;
} */

section{
    background-image: url(../images/1.jpg);
    height: 150px;
    background-size: 100% 100%;
    /* position: relative; */
    /* margin: 10%; */
}
/* #overlay, #content{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom:10%;
    left: 10%;
}
#overlay{
    opacity: 0.2;
    background-color: red;

}
#content{
} */
 #content{
    background-color: red;
    opacity: 0.2;
    height: 100%;
 }